.barra-superior {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top:0;
    background-color: rgba(46, 42, 51, 0.959);
  height: 3rem;
  }
  
  .titulo-section{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgb(5, 5, 8);
    margin-top: .5rem;
    font-size: 1.5rem;
   
  }